# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path(r"C:\Users\joshu\Documents\Coding Magic\Challenge #13\Starter_Code (10)\Starter_Code\Resources\applicants_data.csv"))

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns = ['EIN','NAME'], axis = 1)

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = ["APPLICATION_TYPE" , "AFFILIATION"]

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE', 'AFFILIATION']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df

C:\Users\joshu\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,APPLICATION_TYPE_T9,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [54]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFram
numerical_values_df = applicant_data_df.drop(columns = categorical_variables)

concat_df = pd.concat([numerical_values_df , encoded_df],axis="columns",sort=False)

# Review the Dataframe
concat_df

,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,...,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,APPLICATION_TYPE_T9,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional
0,C1000,ProductDev,Association,1,0,N,5000,1,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,C2000,Preservation,Co-operative,1,1-9999,N,108590,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,C3000,ProductDev,Association,1,0,N,5000,0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,C2000,Preservation,Trust,1,10000-24999,N,6692,1,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,C1000,Heathcare,Trust,1,100000-499999,N,142590,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,C1000,ProductDev,Association,1,0,N,5000,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
34295,C3000,ProductDev,Association,1,0,N,5000,0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
34296,C2000,Preservation,Association,1,0,N,5000,0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
34297,C3000,ProductDev,Association,1,0,N,5000,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
34298,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [60]:
# Creating the target set y
y = concat_df["IS_SUCCESSFUL"]

# Display sample data
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [61]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = concat_df.drop(columns=["IS_SUCCESSFUL" , "USE_CASE" , "ORGANIZATION" , "SPECIAL_CONSIDERATIONS", "CLASSIFICATION" , "INCOME_AMT"])

# Display sample data
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,APPLICATION_TYPE_T9,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [62]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [63]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [75]:
# Define the the number of inputs (features) to the model
number_input_features = 25

# Review the number of features
number_input_features

25

In [76]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [77]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  8

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

8

In [78]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  4

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

4

In [79]:
# Create the Sequential model instance
nn = Sequential()

In [80]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_input_features))

In [81]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu", input_dim=number_input_features))

In [82]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="relu"))

In [83]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 8)                 208

 dense_10 (Dense)            (None, 4)                 36

 dense_11 (Dense)            (None, 1)                 5

=================================================================
Total params: 249
Trainable params: 249
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [84]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [85]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 741us/step - loss: 1.3481 - accuracy: 0.6885
Epoch 2/50
804/804 [==============================] - 1s 758us/step - loss: 1.3411 - accuracy: 0.6976
Epoch 3/50
804/804 [==============================] - 1s 772us/step - loss: 1.3388 - accuracy: 0.6975
Epoch 4/50
804/804 [==============================] - 1s 798us/step - loss: 1.3371 - accuracy: 0.6979
Epoch 5/50
804/804 [==============================] - 1s 773us/step - loss: 1.3365 - accuracy: 0.6978
Epoch 6/50
804/804 [==============================] - 1s 752us/step - loss: 1.3360 - accuracy: 0.6978
Epoch 7/50
804/804 [==============================] - 1s 772us/step - loss: 1.3361 - accuracy: 0.6981
Epoch 8/50
804/804 [==============================] - 1s 754us/step - loss: 1.3352 - accuracy: 0.6979
Epoch 9/50
804/804 [==============================] - 1s 778us/step - loss: 1.3351 - accuracy: 0.6981
Epoch 10/50
804/804 [==============================] - 1s 753us/step - loss: 1.3351 - accuracy: 0.6985
Epoch 11/50
804/804 [==============================] - 1s 752us/step - loss: 1.3347 - accuracy: 0.6983
Epoch 12/50
804/804 [==============================] - 1s 756us/step - loss: 1.3349 - accuracy: 0.6982
Epoch 13/50
804/804 [==============================] - 1s 759us/step - loss: 1.3351 - accuracy: 0.6985
Epoch 14/50
804/804 [==============================] - 1s 777us/step - loss: 1.3348 - accuracy: 0.6986
Epoch 15/50
804/804 [==============================] - 1s 762us/step - loss: 1.3345 - accuracy: 0.6987
Epoch 16/50
804/804 [==============================] - 1s 773us/step - loss: 1.3342 - accuracy: 0.6988
Epoch 17/50
804/804 [==============================] - 1s 768us/step - loss: 1.3344 - accuracy: 0.6989
Epoch 18/50
804/804 [==============================] - 1s 754us/step - loss: 1.3224 - accuracy: 0.6982
Epoch 19/50
804/804 [==============================] - 1s 773us/step - loss: 1.1412 - accuracy: 0.7005
Epoch 20/50
804/804 [==============================] - 1s 746us/step - loss: 1.1406 - accuracy: 0.7015
Epoch 21/50
804/804 [==============================] - 1s 752us/step - loss: 1.1402 - accuracy: 0.7015
Epoch 22/50
804/804 [==============================] - 1s 739us/step - loss: 1.1400 - accuracy: 0.7018
Epoch 23/50
804/804 [==============================] - 1s 766us/step - loss: 1.1405 - accuracy: 0.7018
Epoch 24/50
804/804 [==============================] - 1s 756us/step - loss: 1.1401 - accuracy: 0.7013
Epoch 25/50
804/804 [==============================] - 1s 761us/step - loss: 1.1402 - accuracy: 0.7018
Epoch 26/50
804/804 [==============================] - 1s 777us/step - loss: 1.1402 - accuracy: 0.7018
Epoch 27/50
804/804 [==============================] - 1s 773us/step - loss: 1.1398 - accuracy: 0.7017
Epoch 28/50
804/804 [==============================] - 1s 787us/step - loss: 1.1399 - accuracy: 0.7017
Epoch 29/50
804/804 [==============================] - 1s 753us/step - loss: 1.1399 - accuracy: 0.7021
Epoch 30/50
804/804 [==============================] - 1s 778us/step - loss: 1.1398 - accuracy: 0.7017
Epoch 31/50
804/804 [==============================] - 1s 739us/step - loss: 1.1394 - accuracy: 0.7020
Epoch 32/50
804/804 [==============================] - 1s 748us/step - loss: 1.1397 - accuracy: 0.7018
Epoch 33/50
804/804 [==============================] - 1s 742us/step - loss: 1.1398 - accuracy: 0.7020
Epoch 34/50
804/804 [==============================] - 1s 766us/step - loss: 1.1397 - accuracy: 0.7015
Epoch 35/50
804/804 [==============================] - 1s 737us/step - loss: 1.1399 - accuracy: 0.7014
Epoch 36/50
804/804 [==============================] - 1s 747us/step - loss: 1.1400 - accuracy: 0.7021
Epoch 37/50
804/804 [==============================] - 1s 737us/step - loss: 1.1398 - accuracy: 0.7023
Epoch 38/50
804/804 [==============================] - 1s 759us/step - loss: 1.1393 - accuracy: 0.7019
Epoch 39/50
804/804 [==============================] - 1s 741us/step - loss: 1.1396 - accuracy: 0.7021
Epoch 40/50
804/804 [==============================] - 1s 753us/step - loss: 1.1396 - accuracy: 0.7021
Epoch 41/50
804/804 [==============================] - 1s 736us/step - loss: 1.1394 - accuracy: 0.7018
Epoch 42/50
804/804 [==============================] - 1s 756us/step - loss: 1.1392 - accuracy: 0.7021
Epoch 43/50
804/804 [==============================] - 1s 742us/step - loss: 1.1396 - accuracy: 0.7021
Epoch 44/50
804/804 [==============================] - 1s 759us/step - loss: 1.1395 - accuracy: 0.7017
Epoch 45/50
804/804 [==============================] - 1s 739us/step - loss: 1.1396 - accuracy: 0.7020
Epoch 46/50
804/804 [==============================] - 1s 774us/step - loss: 1.1393 - accuracy: 0.7020
Epoch 47/50
804/804 [==============================] - 1s 747us/step - loss: 1.1391 - accuracy: 0.7023
Epoch 48/50
804/804 [==============================] - 1s 763us/step - loss: 1.1396 - accuracy: 0.7023
Epoch 49/50
804/804 [==============================] - 1s 746us/step - loss: 1.1391 - accuracy: 0.7021
Epoch 50/50
804/804 [==============================] - 1s 751us/step - loss: 1.1381 - accuracy: 0.7022

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [ ]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [86]:
# Set the model's file path
file_path = "AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [87]:
# Define the the number of inputs (features) to the model
number_input_features_A1 = len(X_train.iloc[0])

# Review the number of features
number_input_features_A1

25

In [88]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 2

In [89]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 3

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

3

In [90]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [91]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, activation="relu", input_dim=number_input_features_A1))


# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="relu"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 3)                 78

 dense_13 (Dense)            (None, 2)                 8

=================================================================
Total params: 86
Trainable params: 86
Non-trainable params: 0
_________________________________________________________________

In [92]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [93]:
# Fit the model using 50 epochs and the training data
fit_model_A1 =nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 747us/step - loss: 5.3363 - accuracy: 0.4665
Epoch 2/50
804/804 [==============================] - 1s 727us/step - loss: 5.3148 - accuracy: 0.4665
Epoch 3/50
804/804 [==============================] - 1s 796us/step - loss: 5.3145 - accuracy: 0.4665
Epoch 4/50
804/804 [==============================] - 1s 739us/step - loss: 5.3142 - accuracy: 0.4665
Epoch 5/50
804/804 [==============================] - 1s 782us/step - loss: 5.3139 - accuracy: 0.4665
Epoch 6/50
804/804 [==============================] - 1s 746us/step - loss: 5.3137 - accuracy: 0.4665
Epoch 7/50
804/804 [==============================] - 1s 751us/step - loss: 5.3137 - accuracy: 0.4665
Epoch 8/50
804/804 [==============================] - 1s 754us/step - loss: 5.3136 - accuracy: 0.4665
Epoch 9/50
804/804 [==============================] - 1s 737us/step - loss: 5.3135 - accuracy: 0.4665
Epoch 10/50
804/804 [==============================] - 1s 735us/step - loss: 5.3135 - accuracy: 0.4665
Epoch 11/50
804/804 [==============================] - 1s 752us/step - loss: 5.3134 - accuracy: 0.4665
Epoch 12/50
804/804 [==============================] - 1s 733us/step - loss: 5.3134 - accuracy: 0.4665
Epoch 13/50
804/804 [==============================] - 1s 777us/step - loss: 5.3135 - accuracy: 0.4665
Epoch 14/50
804/804 [==============================] - 1s 756us/step - loss: 5.3134 - accuracy: 0.4665
Epoch 15/50
804/804 [==============================] - 1s 733us/step - loss: 5.2510 - accuracy: 0.4665
Epoch 16/50
804/804 [==============================] - 1s 774us/step - loss: 5.2286 - accuracy: 0.4665
Epoch 17/50
804/804 [==============================] - 1s 744us/step - loss: 5.2285 - accuracy: 0.4665
Epoch 18/50
804/804 [==============================] - 1s 754us/step - loss: 5.2282 - accuracy: 0.4665
Epoch 19/50
804/804 [==============================] - 1s 741us/step - loss: 5.2281 - accuracy: 0.4665
Epoch 20/50
804/804 [==============================] - 1s 758us/step - loss: 5.2281 - accuracy: 0.4665
Epoch 21/50
804/804 [==============================] - 1s 730us/step - loss: 5.2280 - accuracy: 0.4665
Epoch 22/50
804/804 [==============================] - 1s 752us/step - loss: 5.2279 - accuracy: 0.4665
Epoch 23/50
804/804 [==============================] - 1s 744us/step - loss: 5.2280 - accuracy: 0.4665
Epoch 24/50
804/804 [==============================] - 1s 763us/step - loss: 5.2280 - accuracy: 0.4665
Epoch 25/50
804/804 [==============================] - 1s 726us/step - loss: 5.2280 - accuracy: 0.4665
Epoch 26/50
804/804 [==============================] - 1s 768us/step - loss: 5.2279 - accuracy: 0.4665
Epoch 27/50
804/804 [==============================] - 1s 730us/step - loss: 5.2280 - accuracy: 0.4665
Epoch 28/50
804/804 [==============================] - 1s 768us/step - loss: 5.2280 - accuracy: 0.4665
Epoch 29/50
804/804 [==============================] - 1s 757us/step - loss: 5.2279 - accuracy: 0.4665
Epoch 30/50
804/804 [==============================] - 1s 769us/step - loss: 5.2279 - accuracy: 0.4665
Epoch 31/50
804/804 [==============================] - 1s 759us/step - loss: 5.2279 - accuracy: 0.4665
Epoch 32/50
804/804 [==============================] - 1s 783us/step - loss: 5.2280 - accuracy: 0.4665
Epoch 33/50
804/804 [==============================] - 1s 758us/step - loss: 5.2280 - accuracy: 0.4665
Epoch 34/50
804/804 [==============================] - 1s 756us/step - loss: 5.2261 - accuracy: 0.4665
Epoch 35/50
804/804 [==============================] - 1s 721us/step - loss: 5.2197 - accuracy: 0.4665
Epoch 36/50
804/804 [==============================] - 1s 762us/step - loss: 5.2205 - accuracy: 0.4665
Epoch 37/50
804/804 [==============================] - 1s 730us/step - loss: 5.2198 - accuracy: 0.4665
Epoch 38/50
804/804 [==============================] - 1s 747us/step - loss: 5.2200 - accuracy: 0.4665
Epoch 39/50
804/804 [==============================] - 1s 727us/step - loss: 5.2199 - accuracy: 0.4665
Epoch 40/50
804/804 [==============================] - 1s 741us/step - loss: 5.2199 - accuracy: 0.4665
Epoch 41/50
804/804 [==============================] - 1s 771us/step - loss: 5.2200 - accuracy: 0.4665
Epoch 42/50
804/804 [==============================] - 1s 733us/step - loss: 5.2199 - accuracy: 0.4665
Epoch 43/50
804/804 [==============================] - 1s 737us/step - loss: 5.2200 - accuracy: 0.4665
Epoch 44/50
804/804 [==============================] - 1s 764us/step - loss: 5.2199 - accuracy: 0.4665
Epoch 45/50
804/804 [==============================] - 1s 737us/step - loss: 5.2199 - accuracy: 0.4665
Epoch 46/50
804/804 [==============================] - 1s 754us/step - loss: 5.2199 - accuracy: 0.4665
Epoch 47/50
804/804 [==============================] - 1s 753us/step - loss: 5.2199 - accuracy: 0.4665
Epoch 48/50
804/804 [==============================] - 1s 738us/step - loss: 5.2199 - accuracy: 0.4665
Epoch 49/50
804/804 [==============================] - 1s 759us/step - loss: 5.2199 - accuracy: 0.4665
Epoch 50/50
804/804 [==============================] - 1s 746us/step - loss: 5.2197 - accuracy: 0.4665

#### Alternative Model 2

In [94]:
# Define the the number of inputs (features) to the model
number_input_features_A2 = len(X_train.iloc[0])

# Review the number of features
number_input_features_A2

25

In [95]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [96]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 5

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

5

In [97]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [98]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, activation="relu", input_dim=number_input_features_A2))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation="relu"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_14 (Dense)            (None, 5)                 130

 dense_15 (Dense)            (None, 1)                 6

=================================================================
Total params: 136
Trainable params: 136
Non-trainable params: 0
_________________________________________________________________

In [99]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [100]:
# Fit the model
fit_model_A2 =nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 757us/step - loss: 2.6784 - accuracy: 0.6630
Epoch 2/50
804/804 [==============================] - 1s 766us/step - loss: 2.6528 - accuracy: 0.6823
Epoch 3/50
804/804 [==============================] - 1s 733us/step - loss: 1.6787 - accuracy: 0.6834
Epoch 4/50
804/804 [==============================] - 1s 792us/step - loss: 1.4348 - accuracy: 0.6833
Epoch 5/50
804/804 [==============================] - 1s 796us/step - loss: 1.4347 - accuracy: 0.6834
Epoch 6/50
804/804 [==============================] - 1s 799us/step - loss: 1.4343 - accuracy: 0.6848
Epoch 7/50
804/804 [==============================] - 1s 764us/step - loss: 1.4342 - accuracy: 0.6850
Epoch 8/50
804/804 [==============================] - 1s 743us/step - loss: 1.4346 - accuracy: 0.6849
Epoch 9/50
804/804 [==============================] - 1s 788us/step - loss: 1.4349 - accuracy: 0.6848
Epoch 10/50
804/804 [==============================] - 1s 787us/step - loss: 1.4350 - accuracy: 0.6850
Epoch 11/50
804/804 [==============================] - 1s 772us/step - loss: 1.4345 - accuracy: 0.6850
Epoch 12/50
804/804 [==============================] - 1s 742us/step - loss: 1.4339 - accuracy: 0.6850
Epoch 13/50
804/804 [==============================] - 1s 776us/step - loss: 1.4338 - accuracy: 0.6851
Epoch 14/50
804/804 [==============================] - 1s 759us/step - loss: 1.4341 - accuracy: 0.6850
Epoch 15/50
804/804 [==============================] - 1s 772us/step - loss: 1.4346 - accuracy: 0.6851
Epoch 16/50
804/804 [==============================] - 1s 733us/step - loss: 1.4344 - accuracy: 0.6849
Epoch 17/50
804/804 [==============================] - 1s 744us/step - loss: 1.4345 - accuracy: 0.6849
Epoch 18/50
804/804 [==============================] - 1s 747us/step - loss: 1.4342 - accuracy: 0.6848
Epoch 19/50
804/804 [==============================] - 1s 771us/step - loss: 1.4341 - accuracy: 0.6850
Epoch 20/50
804/804 [==============================] - 1s 758us/step - loss: 1.4341 - accuracy: 0.6848
Epoch 21/50
804/804 [==============================] - 1s 754us/step - loss: 1.4334 - accuracy: 0.6849
Epoch 22/50
804/804 [==============================] - 1s 744us/step - loss: 1.4324 - accuracy: 0.6850
Epoch 23/50
804/804 [==============================] - 1s 768us/step - loss: 1.4328 - accuracy: 0.6850
Epoch 24/50
804/804 [==============================] - 1s 757us/step - loss: 1.4330 - accuracy: 0.6847
Epoch 25/50
804/804 [==============================] - 1s 823us/step - loss: 1.4334 - accuracy: 0.6854
Epoch 26/50
804/804 [==============================] - 1s 743us/step - loss: 1.4314 - accuracy: 0.6855
Epoch 27/50
804/804 [==============================] - 1s 764us/step - loss: 1.4324 - accuracy: 0.6849
Epoch 28/50
804/804 [==============================] - 1s 788us/step - loss: 1.4325 - accuracy: 0.6854
Epoch 29/50
804/804 [==============================] - 1s 768us/step - loss: 1.4324 - accuracy: 0.6850
Epoch 30/50
804/804 [==============================] - 1s 769us/step - loss: 1.4323 - accuracy: 0.6850
Epoch 31/50
804/804 [==============================] - 1s 754us/step - loss: 1.4318 - accuracy: 0.6853
Epoch 32/50
804/804 [==============================] - 1s 754us/step - loss: 1.4321 - accuracy: 0.6859
Epoch 33/50
804/804 [==============================] - 1s 754us/step - loss: 1.4323 - accuracy: 0.6859
Epoch 34/50
804/804 [==============================] - 1s 777us/step - loss: 1.4316 - accuracy: 0.6856
Epoch 35/50
804/804 [==============================] - 1s 782us/step - loss: 1.4307 - accuracy: 0.6853
Epoch 36/50
804/804 [==============================] - 1s 796us/step - loss: 1.4319 - accuracy: 0.6857
Epoch 37/50
804/804 [==============================] - 1s 756us/step - loss: 1.4317 - accuracy: 0.6852
Epoch 38/50
804/804 [==============================] - 1s 796us/step - loss: 1.4310 - accuracy: 0.6857
Epoch 39/50
804/804 [==============================] - 1s 747us/step - loss: 1.4315 - accuracy: 0.6851
Epoch 40/50
804/804 [==============================] - 1s 756us/step - loss: 1.4317 - accuracy: 0.6857
Epoch 41/50
804/804 [==============================] - 1s 743us/step - loss: 1.4310 - accuracy: 0.6854
Epoch 42/50
804/804 [==============================] - 1s 758us/step - loss: 1.4308 - accuracy: 0.6862
Epoch 43/50
804/804 [==============================] - 1s 733us/step - loss: 1.4306 - accuracy: 0.6857
Epoch 44/50
804/804 [==============================] - 1s 787us/step - loss: 1.4308 - accuracy: 0.6852
Epoch 45/50
804/804 [==============================] - 1s 743us/step - loss: 1.4309 - accuracy: 0.6855
Epoch 46/50
804/804 [==============================] - 1s 759us/step - loss: 1.4317 - accuracy: 0.6854
Epoch 47/50
804/804 [==============================] - 1s 769us/step - loss: 1.4304 - accuracy: 0.6859
Epoch 48/50
804/804 [==============================] - 1s 830us/step - loss: 1.4303 - accuracy: 0.6857
Epoch 49/50
804/804 [==============================] - 1s 753us/step - loss: 1.4309 - accuracy: 0.6861
Epoch 50/50
804/804 [==============================] - 1s 769us/step - loss: 1.4315 - accuracy: 0.6866

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [103]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 1.1561 - accuracy: 0.7047 - 291ms/epoch - 1ms/step
Loss: 1.1561269760131836, Accuracy: 0.704723060131073

In [104]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 5.1395 - accuracy: 0.4708 - 220ms/epoch - 821us/step
Loss: 5.139466285705566, Accuracy: 0.4707871675491333

In [105]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 1.3636 - accuracy: 0.6897 - 247ms/epoch - 921us/step
Loss: 1.363619089126587, Accuracy: 0.6896793246269226

### Step 3: Save each of your alternative models as an HDF5 file.

In [101]:
# Set the file path for the first alternative model
file_path = "AlphabetSoup1.h5"

# Export your model to a HDF5 file
nn.save(file_path)

In [102]:
# Set the file path for the second alternative model
file_path = "AlphabetSoup2.h5"

# Export your model to a HDF5 file
# YOUR CODE HERE